html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(18, 135, 38, 1) 0%, rgba(5, 3, 3, 1) 100%) no-repeat fixed;
    font-size: 10px;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.content {
    display: grid;
    grid-template-rows: auto;
    font-family: Pacifico-Regular, Arial, sans-serif;
}

canvas {
    display: block;
    margin: auto;
    user-select: none;
    cursor: none;
}

h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}

a {
    font-family: Pacifico-Regular, Arial, sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 50px;
}

main {
    display: grid;
    align-items: center;
    justify-content: center;
}

main > section:not(.active) {
    display: none;
}

header {
    display: grid;
    grid-template-columns: 270px auto;
    align-content: center;
    border-bottom: 1px solid white;
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 41px;
}

.logo a {
    display: grid;
    grid-template-columns: 45px auto;
}

.logo span {
    text-transform: uppercase;
    grid-column: 2 / 3;
    align-self: center;
    font-size: 2em;
}

nav ul {
    padding: 0;
}

nav li {
    color: white;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.5em;
    display: grid;
}

#menu-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-wrapper a {
    font-size: 1.3em;
}

#start-screen img {
    height: 200px;
    margin-right: 25px;
    width: 140px;
}

#canvas-wrapper {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#description-wrapper {
    height: 500px;
    width: 400px;
    color: white;
    user-select: none;
    cursor: default;
}

#description-wrapper h2 {
    font-size: 3em;
    margin: 0;
}

#description-wrapper h2 + p {
    margin-top: 0;
}

#description-wrapper p {
    font-size: 1.7em;
    margin-bottom: 0;
}

#description-wrapper [src*='flower'] {
    position: relative;
    top: 20px;
}

#description-wrapper [src*='sword'] {
    position: relative;
    top: 10px;
    left: 20px;
    transform: rotate(90deg);
}

#screenshots-wrapper {
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 600px 600px;
    align-items: center;
    justify-items: center;
}

figcaption {
    text-align: center;
    color: white;
    font-size: 2em;
}

#controls-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#girl-controls {
    display: grid;
    grid-template-columns: 170px 170px 180px;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

#girl-controls figure:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 70px 45px;
    align-items: end;
}

#girl-controls figure:nth-child(1) figcaption {
    grid-column: 1 / 3;
}

#girl-controls figure:nth-child(1) img:nth-child(2) {
    transform: rotate(-90deg);
}

#girl-controls figure:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: right;
    flex-direction: column;
    justify-items: right;
}

#girl-controls figure:nth-child(2) img:nth-child(2) {
    transform: scale(-1, 1);
}

#girl-controls figure:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#girl-controls figure:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-items: right;
}

#girl-controls figure:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 95px 45px;
    align-items: start;
}

#girl-controls figure:nth-child(5) figcaption {
    grid-column: 1 / 3;
}

#girl-controls figure:nth-child(5) img:nth-child(2) {
    margin-top: 25px;
    transform: rotate(90deg);
}

#game-state {
    margin: 0 auto;
    position: absolute;
    width: 257px;
    top: 15px;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
    position: absolute;
    top: -1px;
    left: 196px;
    z-index: 2;
    cursor: default;
}

#timer {
    color: white;
    position: absolute;
    top: -5px;
    left: 111px;
    z-index: 2;
    font-size: 2.3em;
    cursor: default;
}

#canvas-wrapper {
    width: 100%;
}

#desk {
    background: url('../images/common/desk.png') no-repeat;
    height: 35px;
    width: 257px;
    position: absolute;
    z-index: 1;
}

#options {
    background: url('../images/common/play_desk.png') no-repeat center;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#options > span:first-child {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
    cursor: default;
}

#options > button {
    width: 134px;
    height: 130px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(0.95);
    outline: 0;
}

#sounds {
    display: none;
}

#preloader {
    display: none;
    font-size: 3em;
    color: white;
    position: absolute;
    cursor: default;
}

li.game {
    width: 234px;
    height: 50px;
    background: url('../images/common/menu_play_desk.png') no-repeat center;
}

li {
    transform: scale(0.95);
}

li:hover {
    transform: scale(1);
}

li.description {
    background: url('../images/common/menu_description_desk.png') no-repeat center;
}

li.screenshots {
    background: url('../images/common/menu_screenshots_desk.png') no-repeat center;
    width: 250px;
}

li.controls-manual {
    background: url('../images/common/menu_controls_desk.png') no-repeat center;
}

.start-view > button {
    background: url('../images/common/start_button.png') no-repeat center;
}

.start-view > span:before {
    content: 'Press start';
}

.restart-view > button {
    background: url('../images/common/restart_button.png') no-repeat center;
}

.restart-view > span:before {
    content: 'Your score: ';
}

#options > button:hover {
    transform: scale(1);
}

#health {
    display: grid;
    width: 60px;
    grid-template-columns: repeat(3, 20px);
    justify-items: center;
    height: 20px;
    position: absolute;
    left: 23px;
    top: 8px;
    z-index: 2;
}

.invisible {
    display: none;
    z-index: -1;
}

.sword {
    cursor: url(../images/common/sword.png), auto;
}

.sword-active {
    cursor: url(../images/common/sword_active.png), auto;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1em;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

footer > a {
    font-family: Pacifico-Regular, Arial, sans-serif;
    color: #932800;
    text-decoration: none;
}

footer > a:hover {
    color: red;
}

@font-face {
    font-family: Pacifico-Regular;
    src: url(../fonts/Pacifico-Regular.ttf);
}